*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #202124;
    align-items: center;
    width: 500px;
    height: auto;
    padding: 16px;

    color: #fff;
}